                        .wrapper {
                                background-color: white;
                                width: 750px;
                                margin: 40px auto;
                                padding: 50px;
                                box-shadow: 0 0 5px #999;
                        }
                        .list_carousel {
                                background-color: #ccc;
                                margin: 0 auto;
                                width: 756px;
                        }
                        .list_carousel ul {
                                margin: 0;
                                padding: 0;
                                list-style: none;
                                display: block;
                        }
                        .list_carousel li {
                                font-size: 40px;
                                color: #999;
                                text-align: center;
                                background-color: #eee;
                                border: 5px solid #999;
                                width: 230px;
                                height: 230px;
                                padding: 0;
                                margin: 6px;
                                display: block;
                                float: left;
                        }
                        .list_carousel.responsive {
                                width: auto;
                                margin-left: 0;
                        }
                        .clearfix {
                                float: none;
                                clear: both;
                        }
                        .prev {
                                float: left;
                                margin-left: 10px;
                        }
                        .next {
                                float: right;
                               margin-right: 10px;
                        }

