       <div id="victim_info">
       
            <h2>
                A Tribute to Murder Victims and Their Families
            </h2>
            <p>
                This tribute is to honor the victims in Brevard and Seminole County <br>
who have been taken from us by senseless acts of violence.  <br>
We will always remember.
            </p>
        </div> 
        <div id="victim_slide" class="list_carousel"></div>
        <!--<div id="prev"></div>
        <div id="next"></div>-->
        <div id="cleaner"></div>
		<p class="moretext">"The most beautiful people we have known are those who have known defeat, known suffering, known struggle, known loss, and have found their way out of the depths. These persons have an appreciation, a sensitivity, and an understanding of life that fills them with compassion, gentleness, and a deep loving concern. Beautiful people do not just happen." <br>-Elisabeth Kubler-Ross </p>
        <div id="victim_nav"></div>
        <div id="cleaner"></div>
