<!--<div id="victim_page">
    <div id="left_col">
        <div id="back_button"><a id="back" href="#start"></a></div>
        <div id="victim_info"></div>
    </div>
    <div id="right_col">
        <div id="victim_pics">
 
        </div>
    </div>
    <div id="cleaner"></div>
</div>-->
<div id="victim_page">
<h2 align="center" style="color:#fff;">
                A Tribute to Murder Victims and Their Families
            </h2>
       
        <div id="victim_pics" style="padding:0 10px 10px 10px; float:left;"></div>
		<div id="victim_info" style="padding:10px;"></div>
		<div class="navbtn">
		<center>
		<table width="500px" style="text-align: center;">
		<tr>
		<td>
		<a id="back" href="#start">BACK</a></td>
		<td>
		<a id="back" href="#start">HOME</a></td>
		<td>
		<a id="back" href="#start">NEXT</a></td>
		</tr>
		</table>
		</center></div>
    <div id="cleaner"></div>
</div>
