<!--<div class="form-left-col">
    <div class="row">
        <label>Name:</label>
        <span class="short"><%= name %></span>
        <div id="cleaner"></div>
    </div>

    <div class="row">
        <label>Dob:</label>
        <span class="short"><%= dob %></span>
        <div id="cleaner"></div>
    </div>

    <div class="row">
        <label>Dod:</label>
        <span class="short"><%= dod %></span>
        <div id="cleaner"></div>
    </div>

    <div class="row">
        <label>Description:</label>
        <span class="long"><%= description %></span>
        <div id="cleaner"></div>
    </div>
</div>-->

<div class="indtext">
        <strong>Name:</strong> <%= name %>
		<br/>
     <!--<strong>Dob:</strong> <%= dob %>
        <br> -->
        <strong>Murdered On:</strong> <%= dod %>
		<br><br>
        <!--<strong>Description:</strong>--> <%= description %><br><br>

        <strong></strong>
        <div id="cleaner"></div>
</div>

<div class="navbtn">
    <table>
        <tr>
          <td><a class="rev" href="#">BACK</span></td>

          <td><a class="home" href="#start">HOME</a></td>
          <td><a class="fwd" href="#">NEXT</span></td>
        </tr>
    </table>
</div>

